## Hands-on 2a
#### This hands-on explores the encoding of categorical data

In [1]:
# Initialization
%matplotlib inline
from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
# Handling missing value and categorical data
import pandas as pd
df = pd.DataFrame({'age': [17, 23, 'x', 38, 54, 67, 32],
                  'size': ['XS', 'M', 'L', 'XL', 'S', 'L', 'M'],
                  'gender':['M', 'F', 'f', 'M', 'M', 'F', 'F']})
size_mapping = {'XS': 1, 'S': 2, 'M': 3, 'L': 4, 'XL': 5}
df

  age size gender
0  17   XS      M
1  23    M      F
2   x    L      f
3  38   XL      M
4  54    S      M
5  67    L      F
6  32    M      F

To do:
- Check missing values using info() and isnull()

In [3]:
print(df.info())
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     7 non-null      object
 1   size    7 non-null      object
 2   gender  7 non-null      object
dtypes: object(3)
memory usage: 296.0+ bytes
None
age       0
size      0
gender    0
dtype: int64

To do: 
- Replace missing values with NaN.
- Recheck missing values using info() and isnull().
- Print the resulting dataframe (df).

In [4]:
import numpy as np
df = df.replace({'x': np.nan})
print(df.info())
print(df.isnull().sum())
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     6 non-null      float64
 1   size    7 non-null      object
 2   gender  7 non-null      object
dtypes: float64(1), object(2)
memory usage: 296.0+ bytes
None
age       1
size      0
gender    0
dtype: int64

    age size gender
0  17.0   XS      M
1  23.0    M      F
2   NaN    L      f
3  38.0   XL      M
4  54.0    S      M
5  67.0    L      F
6  32.0    M      F

To do:
- Encode ordinal data using map(). 
- Print the resulting dataframe (df).

In [5]:
df['size'] = df['size'].map(size_mapping)
df

    age  size gender
0  17.0     1      M
1  23.0     3      F
2   NaN     4      f
3  38.0     5      M
4  54.0     2      M
5  67.0     4      F
6  32.0     3      F

To do:
- Use pd.get_dummies() to encode nominal data using one-hot encoding and store the resulting dataframe in df1.
- Print df1 and verify that the resulting dataframe is correct.

In [6]:
df1 = pd.get_dummies(df)
df1

    age  size  gender_F  gender_M  gender_f
0  17.0     1         0         1         0
1  23.0     3         1         0         0
2   NaN     4         0         0         1
3  38.0     5         0         1         0
4  54.0     2         0         1         0
5  67.0     4         1         0         0
6  32.0     3         1         0         0

To do:
- Rectify the problem in the previous step.
- Use pd.get_dummies() to encode nominal data using one-hot encoding and store the resulting dataframe in df2.
- Print df2.

In [7]:
df['gender'] = df['gender'].str.upper()
df2 = pd.get_dummies(df)
df2

    age  size  gender_F  gender_M
0  17.0     1         0         1
1  23.0     3         1         0
2   NaN     4         1         0
3  38.0     5         0         1
4  54.0     2         0         1
5  67.0     4         1         0
6  32.0     3         1         0

To do:
- Impute missing data with median value of the column

In [ ]:
df2['age'] = df2['age'].